<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navBar.ejs') %>
  <div class="container">
    <br />
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Relatorios</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/download" class="card-link">Baixar</a>
      </div>
    </div>
  </div>
  <!-- <%- include ('partials/footer.ejs') %> -->
</body>
<%- include ('partials/script.ejs') %>
